html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: linear-gradient(#665B7D, #665B7D, #A78FA9, #250D1A, #000000, #000000, #000000, #000000, #000000);
}

canvas {
    display: block;
    margin: 0 auto;
    background-image: url('./img//background/bg2.jpg') ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

