/*body {
  background: url(images/right_bg.jpg) no-repeat;
  background-size: cover;
  min-height: 650px;
}*/
h2 {
  position: absolute;
  top: 40%;
  left: 9%;
  bottom: 30%;
  color: #fe8081 /* #9ad9ea*/;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 7vw; /* 3% of viewport width */
  letter-spacing: 6pt;
  font-weight: normal;
}
span {
  color: black ;
}
